<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  {% if success_message %}
    {% if success_message.startswith('A') %}
      <p style="color: green;">{{ success_message }}</p>
    {% else %}
      <p style="color: red;">{{ success_message }}</p>
    {% endif %}
  {% endif %}
  <br>
  <form action="{{ url_for('home') }}" method="GET">
        <button type="submit">Home</button>
    </form>
  <br><br>
  <form action="/add_author" method="POST">
  <label for="name">Author Name:</label>
  <input type="text" id="name" name="name" required><br><br>
  <label for="birthdate">Birthdate:</label>
  <input type="date" id="birthdate" name="birthdate" required><br><br>
  <label for="date_of_death">Date of Death:</label>
  <input type="date" id="date_of_death" name="date_of_death"><br><br>
  <input type="submit" value="Add Author">
  </form>

  </body>
</html>
