<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  {% if success_message %}
    {% if success_message.startswith('B') %}
      <p style="color: green;">{{ success_message }}</p>
    {% else %}
      <p style="color: red;">{{ success_message }}</p>
    {% endif %}
  {% endif %}

  <form action="/add_book" method="POST">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required><br><br>
  <label for="isbn">ISBN:</label>
  <input type="text" id="isbn" name="isbn" required><br><br>
  <label for="publication_year">Publication Year:</label>
  <input type="number" id="publication_year" name="publication_year"><br><br>
  <label >Author:</label>
  <select name="author_id" required>
    <option value="">-- Select an Author --</option>
    {% for author in authors %}
      <option value="{{ author.id }}">{{ author.name }} ({{ author.birth_date }})</option>
    {% endfor %}
  </select><br>
  <input type="submit" value="Add Book">
  </form>

  </body>
</html>
